*{
    margin: 0;
}

header nav li{
    list-style-type: none;
    display: inline-block;
    
}

.main{
    background-color: #e9edf2;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
}

.child-header{
    width: 20%;
    margin-top: 10px;
}

#header-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.child-header:first-child{
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.child-header:last-child{
    width: 100%;
         
}

#ban{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #3f4655;
    flex-wrap: nowrap;
    height: 300px;
    margin: auto;
    justify-content: space-around;

}

.grey {
    height: 300px;
    justify-content: center;
}

.grey > *{
}

.grey > img{
    width: 150px;
}

#ban h3{
    color: white;
}

#ban p{
    color: grey;
}

#tryitfree{
    height: 900px;
    background-color: #e9edf2;
    display:none;
}

.button{
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

#users{
    height: 450px;
    background-color: #e9edf2;

}

footer{
    background-color: #3f4655;
    display: flex;
}

