@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
$base-grey: #e9edf2;
$dark-grey: #3f4655;
$blue-botton: rgb(92, 166, 236);
$light-black: rgb(68, 68, 68);
@mixin button {
    background-color: $blue-botton;
    @extend .button-blue;
    padding: 10px 20px;
    border-radius: 3px;
    border: black 1px solid;
    font-size: 13px;
}
*{
    font-family: sans-serif;
}

/*Hearder*/

header {
    width: 100%;
    display: flex;
    background-color: $base-grey;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
        width: 100%;
        font-size: xx-large;
        text-align: center;
        font-weight: lighter;
        padding: 50px 0;
    }
    .child-header, #left, #right{
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        align-items: center;
        flex-grow: 1;
        ul {
            @extend .child-header;
            #grey{
                color: grey;
            }
        }
    }
    p{
        font-size: x-large;
    }
}

#button {
    justify-content: flex-end;
}

#space-right{
    margin-right: 200px;
}

#space-left{
    margin-left: 200px;
}

#left nav ul {
    justify-content: space-between;
}

#right nav ul {
    justify-content: space-between;
}

#logo{
    margin-bottom: 10px;
}

.child-header button{
    font-size: 12px;
    padding: 5px 15px;
}

.button-blue{
    background-color: $blue-botton;
    color: white;
}

#button-left{
    border: black 1px solid;
    border-radius: 5px 0 0 5px;
}

#button-right{
    border: black 1px solid;
    margin-right: 15px;
    border-radius: 0 5px 5px 0;
    background-color: white;

}

/*part two*/

#banner{
    height: 300px;
    display: flex;
    background-color: $dark-grey;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: auto;
        border-left: black 1px solid;
        height: 300px;
        padding-left: 50px;
        &:first-child{
            border: none;
            padding: 0;
        }
    }
    img{
        width: 100px;
    }
    h3{
        color: white;
        font-size: smaller;
        margin-top: 15px;
    }
    p{
        color: rgb(161, 160, 160);
        font-size: x-small;
        text-align: center;
        margin-top: 15px;
    }
}

/*Part Three*/

#tryitfree{
    height: 700px;
    background-color: $base-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p:first-child{
        padding-top: 50px;
        font-family: serif;
        text-align: center;
        width: 50%;
        color: $light-black;
    }
    p:nth-child(3){
        color: $light-black;
        font-size: 10px;
        margin-bottom: 25px;
    }
    button{
        @include button()
    }
    img{
        border-radius: 5px 5px 0 0;
        box-shadow: 1px -1px 10px rgb(175, 174, 174), -1px -1px 10px rgb(175, 174, 174);
        width: 600px;
    }
}

/*Part Four*/

#cloud{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cloud{
        text-align: center;
        width: 500px;
        h2{
            font-size: 20px;
        }
        p{
            font-family: serif;
            padding: 15px;
            color: $dark-grey;
        }
    }
    .plans{
        display: flex;
        width: 400px;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 250px;
            button{
                @include button();
                padding: 5px 10px;
                font-size: 10px;
            }
            &:first-child{
                border-right: rgb(224, 223, 223) 1px solid;
                padding-right: 35px;
            }
            p{
                text-align: center;
                font-family: serif;
                color: grey;
                font-size: 13px;
            }
        }
        img{
            width: 100px;
        }
    }
}

/*Part Five*/

#users{
    background-color: $base-grey;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: rgb(201, 200, 200) 1px solid;
    border-bottom: rgb(201, 200, 200) 1px solid;
    #who{
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
        h2, P{
            text-align: center;
        }
        h2{
            font-size: 20px;
        }
        p{
            font-family: serif;
            padding: 15px 0;
            color: rgb(77, 76, 76);
        }
    }
    #img-users{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 50px;
        img{
            width: 50px;
        }
    }
}

/*Part Six*/

#get-started{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 25px;
        font-weight: lighter;
        padding: 40px 0 15px 0;
    }
    p:nth-child(2){
        font-size: 13px;
        width: 300px;
        text-align: center;
        color: rgb(77, 76, 76);
        padding-bottom: 25px;
    }
    form{
        background-color: $base-grey;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: rgb(173, 172, 172) 1px solid;
        border-radius: 3px;
        width: 333px;
        height: 280px;
        justify-content: center;
        input{
            border: rgb(173, 172, 172) 1px solid;
            border-radius: 3px;
            height: 25px;
            color: rgb(173, 172, 172);
            display: flex;
            &[value]{
                padding: 5px 5px;
            }
        }
        label:first-child{
            padding-top: 50px;
        }
        label{
            font-size: 11px;
        }
        label, input, button, p{
            padding-top: 15px;
        }
        button{
            @include button();
            width: 142px;
            font-size: 11px;
            padding: 5px 0;
        }
        p:last-child{
            font-size: 12px;
        }
    }
    div:last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div:last-child{
        padding: 25px 0;
        font-size: 10px;
        color: grey;
    }
}

/*Footer*/

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 15px;
    background-color: $dark-grey;
    div:first-child{
        display: flex;
        justify-content: space-around;
        color: white;
        padding-top: 30px;
    }
    #social{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }
    img{
        width: 30px;
        &:nth-child(2){
            width: 35px;
            padding-bottom: 1px;
            padding-left: 2px;
        }
        &:nth-child(3){
            width: 34px;
        }
        &:nth-child(4){
            width: 33px;
        }
        &:nth-child(5){
            width: 34px;
        }
    }
    #last{
        color: $base-grey;
        display: flex;
        justify-content: center;
        text-align: center;
        color:grey;
        padding-top: 15px;
    }
    li{
        color: rgb(143, 142, 142);
    }
    .first{
        color: rgb(95, 94, 94);
    }
}